---
layout: archive
---

<p>Hi! I'm Colin, welcome on my website. 

<p>I'm a Data Analyst, R Trainer and Social Media Manager at <a href = "http://www.thinkr.fr"><u>ThinkR</u></a>, Founder of <a href="http://data-bzh.fr"><u>Data Bzh</u></a> and part of <a href="https://rweekly.org/"><u>R Weekly</u></a> team. 
I'm passionate about everything R related. I'm also into linguistics, text-mining, open source, and open data.

<p>You'll find here more infos about me, and a blog where I randomly write about R, and other stuffs. 

<hr>

<p><h2>On the blog : </h2>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
