---
layout: archive
---
<p>Hi! I'm Colin, welcome on my website. 

<p>I'm a Data Analyst, R Trainer and Social Media Manager at <a href = "http://www.thinkr.fr"><u>ThinkR</u></a>, Founder of <a href="http://data-bzh.fr"><u>Data Bzh</u></a>, cofounder of the <a href="http://breizhdataclub.org"><u>Breizh Data Club</u></a> association, Organizer of the <a href="http://breizhdataclub.org"><u>Breizh Data Club Meetup</u></a> in Rennes, and part of the <a href="https://rweekly.org/"><u>R Weekly</u></a> team.</p>

<p></p>I'm passionate about everything R related. I'm also into linguistics, text-mining, open source, and open data. I'm quite fluent in HTML and CSS, but I feel better when I'm not using them. Also, I hope I'll have some time soon to learn how to be good at JavaScript, instead of just tinkering it. 

<p>You'll find on this website more info <a href= "http://colinfay.me/about/"><u>about me</u></a>, everything about my <a href="http://colinfay.me/open-source/"><u>open source</u></a> projects (with any luck I'll keep this page updated), and a <a href="http://colinfay.me/categories/"><u>blog</u></a> where I randomly write about R and other stuffs.</p>

<p>I'm rather active on Twitter, so you can <a href= "https://twitter.com/_colinfay"><u>follow me down there</u></a>. I mostly tweet about Data Science, #RStats, and (full disclosure) sometimes about stuffs that are totally unrelated to the topic I just mentioned.</p> 

<p>I also try to keep my <a href= "https://github.com/ColinFay"><u>GitHub contribution tree</u></a> rather full, so you can follow me there if you'd like to watch me turn grey cubes into green cubes.</p>

<hr>

<p><h2>On the blog : </h2>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

<p>&nbsp</p>
<div align = "center"><h3><a href = "http://colinfay.me/categories/">Read more...</a></h3></div>
