---
layout: archive
---

Hi! I'm Colin, welcome on my website. 

I'm a Data Analyst, R Trainer and Social Media Manager at [ThinkR](www.thinkr.fr), Founder of [Data Bzh](http://data-bzh.fr) and part of [R Weekly](https://rweekly.org/) team. 

I'm passionate about everything R related, and about linguistics & text-mining. 

You'll find here more infos about me, and a blog where I randomly write about R, and other stuffs. 

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
